// PALETA DE CORES
$branco: #FEFEFE;
$preto: #222222;
$cinza-claro: #ccccd6;
$cinza-medio: #91969c;
$cinza-escuro: #68696b;
$roxo: #A51EED;
$roxo-escuro: #710AA8;

$mg_large: 100px;
$mg_extra: 150px;
$mg: 50px;
$mg_mid: 30px;
$mg_small: 15px;
$mg_mini: 10px;
$hmg: 25px;
$hmg_mid: 20px;
$hmg_small: 15px;
$hmg_mini: 5px;